.follow-button {
  @media screen and (max-width: 399px) {
    width: 100%;
  }
  @media screen and (min-width: 400px) {
    width: 200px;
  }
  background-color: #FFF;
  border: 4px #666 solid;
  border-radius: 5px;
  padding: 10px 16px;
  margin-bottom: 16px;
  font-size: 1.6rem;
  cursor: pointer;
  &:hover {
    background-color: #666;
    color: #FFF;
  }
}
